body {
    font-size: 1.125rem;
    margin: 0;
    color: #707070;
    /* background-color: orange; */
}

/* @media (min-width: 20px) and (max-width:400px) {
    body {
        background-color: lightblue;
    }
}

@media (min-width: 350px) and (max-width:550px) {
    body {
        background-color: pink;
    }
}

@media (min-width: 551px) and (max-width: 700px) {
    body {
        background-color: lime;
    }
} */
/* typhography */
h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #b7832f;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

/* layout */
img {
    max-width: 100%;
    border-radius: 2%;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    align-items: baseline;
}

.col {
    /* text-align: justify; */
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.col-bg {
    background-color: #212614;
    color: #fff;
    padding: .5em;
    border-radius: 2%;
}

@media (max-width: 500px) {
    body {
        padding: 0 5% 0 2%;
    }

    .container {
        width: 97%;
        margin-left: 3%;
    }

    .columns {
        flex-direction: column;
        justify-content: space-around;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 95%;
        text-align: justify;
    }
}

